---
# The name of your project
title: Spring Cloud Spinnaker

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-spinnaker
      icon: github

    - name: Issues (GitHub)
      url:  https://waffle.io/spring-cloud/spring-cloud-spinnaker
      icon: tracking

    - name: CI (Jenkins)
      url:  https://jenkins.spring.io/view/All/job/spring-cloud-spinnaker/
      icon: ci

    - name: CI (CircleCI)
      url:  https://circleci.com/gh/spring-cloud/spring-cloud-spinnaker/
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spinnaker
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->

{% capture billboard_description %}

**PROJECT DESCRIPTION** Spring Cloud Spinnaker is a 1-click deployer for Spinnaker.

{% endcapture %}

{% capture main_content %}

<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}

{% endcapture %}


{% include project_page.html %}
</html>
